config/portMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="port_type">
		<xs:attribute name="gpioNumber" type="xs:int"></xs:attribute>
		<xs:attribute name="name" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:element name="portMapping">
        <xs:complexType>
			<xs:sequence>
    			<xs:element name="port" type="port_type" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
			<xs:attribute name="version" type="xs:string"></xs:attribute>
		</xs:complexType>
    </xs:element>

</xs:schema>